<!-- views/partials/menu.ejs -->
<nav>
  <ul style="list-style: none; display: flex; padding: 0;">
    <li style="margin-right: 1em;"><a href="/">Registro</a></li>
    <li style="margin-right: 1em;"><a href="/lista">Lista de Registros</a></li>
    
  </ul>
</nav>
