<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">

    <!-- Aquí puedes enlazar tus estilos CSS -->
</head>

<body>
    <header>
        <!-- AQUI SE INSERTARA EL MENU -->
    </header>
    <main>
        <!-- Aquí se insertará el contenido específico de cada vista -->
        <%- body %>
    </main>

</body>

</html>